@font-face {
  font-family: 'Droid Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Droid-Sans-regular/Droid-Sans-regular.eot');
  src: url('../fonts/Droid-Sans-regular/Droid-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Droid Sans'),
       local('Droid-Sans-regular'),
       url('../fonts/Droid-Sans-regular/Droid-Sans-regular.woff2') format('woff2'),
       url('../fonts/Droid-Sans-regular/Droid-Sans-regular.woff') format('woff'),
       url('../fonts/Droid-Sans-regular/Droid-Sans-regular.ttf') format('truetype'),
       url('../fonts/Droid-Sans-regular/Droid-Sans-regular.svg#DroidSans') format('svg');
}

@font-face {
  font-family: 'Crimson Text';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Crimson-Text-regular/Crimson-Text-regular.eot');
  src: url('../fonts/Crimson-Text-regular/Crimson-Text-regular.eot?#iefix') format('embedded-opentype'),
       local('Crimson Text'),
       local('Crimson-Text-regular'),
       url('../fonts/Crimson-Text-regular/Crimson-Text-regular.woff2') format('woff2'),
       url('../fonts/Crimson-Text-regular/Crimson-Text-regular.woff') format('woff'),
       url('../fonts/Crimson-Text-regular/Crimson-Text-regular.ttf') format('truetype'),
       url('../fonts/Crimson-Text-regular/Crimson-Text-regular.svg#CrimsonText') format('svg');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Playfair-Display-regular/Playfair-Display-regular.eot');
  src: url('../fonts/Playfair-Display-regular/Playfair-Display-regular.eot?#iefix') format('embedded-opentype'),
       local('Playfair Display'),
       local('Playfair-Display-regular'),
       url('../fonts/Playfair-Display-regular/Playfair-Display-regular.woff2') format('woff2'),
       url('../fonts/Playfair-Display-regular/Playfair-Display-regular.woff') format('woff'),
       url('../fonts/Playfair-Display-regular/Playfair-Display-regular.ttf') format('truetype'),
       url('../fonts/Playfair-Display-regular/Playfair-Display-regular.svg#PlayfairDisplay') format('svg');
}

.hamburgler-icon-wrapper {
  position: absolute;
  top: 8%;
  right: 4%;
  height: 26px;
  width: 26px;
  cursor: pointer }

.hamburgler-icon, .hamburgler-icon:before, .hamburgler-icon:after {
  content: '';
  position: absolute;
  border-radius: 1em;
  height: 2px;
  width: 26px;
  background: black;
  transition: all 0.2s ease }
.hamburgler-icon        { top: 0.75em  }
.hamburgler-icon:before { top: -0.55em }
.hamburgler-icon:after  { top: 0.55em  }
.hamburgler-active .hamburgler-icon { background: transparent; transform: rotate(-135deg) }
.hamburgler-active .hamburgler-icon:before, .hamburgler-active .hamburgler-icon:after { top: 0 }
.hamburgler-active .hamburgler-icon:before { transform: rotate(90deg) }
.hamburgler-active .hamburgler-icon, .hamburgler-active .hamburgler-icon:before, .hamburgler-active .hamburgler-icon:after {
  background: white }

.hamburgler-menu {
  transition: all 0.4s ease;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.9);
  color: white;
  text-align: center }
.hamburgler-active .hamburgler-menu {
  opacity: 1;
  pointer-events: initial; }
.hamburgler-menu-list {
  display: block;
  transition: all 0.4s ease;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2) }
.hamburgler-active .hamburgler-menu-list {
  transform: translate(-50%, -50%) scale(1) }



/* Foundation (v1.0) */
html, body {
  height: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  line-height: 1;
  font-family: sans-serif;
}

h1,
h2,
p,
blockquote,
img,
ul,
li {
  margin: 0;
  padding: 0;
}

main,
li {
  display: block;
}

h1,
h2 {
  font-size: inherit;
}

strong {
  font-weight: bold;
}

a,
button {
  color: inherit;
  transition: .3s;
}

a {
  text-decoration: none;
}

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input, textarea {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  border-radius: 0;
  width:100%;
  padding:0;
  border-width:0
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}


/* End Foundation code*/

/* Main code starts here */
/* Page structure */
.container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px;
}

.col1, .col2 {
  float: left;
}

.col1 {
  width: 25%;
  height: 100%;
}

.col2 {
  width: 75%;
  height: 100%;
  background-image: url('../Images/heroImage.png');
  background-size: cover;
}

/* Logo */
.logoContainer {
  position: relative;
  height: 20%;
}

.mainLogoContainer {
  position: absolute;
  top: 6%;
  left: 4%;
  margin: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mainlogo {
  display: block
}

.homeLogo {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 50px;
  margin: auto;
}

.homeNavItem {
  font-size: 1.2em;
}

.navigationItem {
  display: block;
  padding-top: 20%;
  padding-bottom: 20%;
  font-size: 2.2em;
}

/* Titles */
/* Legacy, set for deletion */.titleContainer {
  position: relative;
  height: 70%;
}

h1 {
  font-family: "Playfair Display", Serif;
  text-align: center;
  font-weight: 400;
}

.homePageTitle {
  padding-top: 5%;
  font-size: 1.5em;
}

h2 {
  font-family: 'Crimson Text', Serif;
  text-align: center;
  font-weight: normal;
}

.homeSubHeading {
  padding-top: 2%;
  font-size: 1em;
}

.divider {
  margin: auto;
  width: 10%;
  padding-top: 5%;
  border-bottom: 1px solid #d3d3d3;
}

/* Home Navigation */
p {
  font-family: 'Crimson Text', Sans-Serif;
  padding-left: 25px;
  padding-right: 25px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: center;
  font-family: "Droid Sans", Sans-Serif;
}

li {
  margin: 10%;
}

/* About Page */

.pageTitle {
  padding-top: 50px;
  font-size: 4em;
}

.portrait {
  display: block;
  margin: auto;
  padding: 5%;
}

.aboutCopy {
  margin-left: 25.5%;
  margin-right: 25.5%;
  font-size: 2em;
  line-height: 1.25;
  text-align: justify;
}

.blogCopy {
  margin-left: 25.5%;
  margin-right: 25.5%;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.75em;
  line-height: 1.25;
  text-align: justify;
}

.blogTopDivider {
  margin: auto;
  padding-top: 2.5%;
  margin-left: 25.5%;
  margin-right: 25.5%;
  border-bottom: 1px solid #d3d3d3;
}

.blogBottomDivider {
  margin: auto;
  margin-left: 25.5%;
  margin-right: 25.5%;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 1%;
}

.blogSubHeading {
  font-family: 'Crimson Text', Sans-Serif;
  text-align: center;
  font-size: 1.5em;
  margin-left: 25.5%;
  margin-right: 25.5%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 1%;
}

header {
  font-family: 'Droid Sans', Sans-Serif;
  font-size: 2em;
  font-weight: normal;
  margin-left: 25.5%;
  margin-right: 25.5%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 3%;
}

.blogDate {
  font-size: 1.75em;
  padding-top: 1%;
  padding-bottom: 2%;
}

.blogContainer {
  position: relative;
  font-size: 1.5em;
  padding-top: 1%;
  overflow: hidden;
}

.previousContainer {
	float: left;
	margin: 0px;
	width: 48%;
}

.nextContainer {
	float: right;
	margin: 0px;
	width: 48%;
}

.previousLink {
  text-align: right;
}

.previousLinkLast {
  text-align: center;
}

.nextLink {
  text-align: left;
}

.nextLinkLast {
  text-align: center;
}

.blogLinks {
  margin: 0px;
  font-size: 1.25em;
  font-family: "Crimson Text", Serif;
}

.blogLinkNavigation {
  font-family: "Crimson Text", Serif;
}

/* Archive */

.archiveList {
  font-size: 1.5em; /* or smaller in main desktop view */
  margin: 0px;
  padding-top: 1%;
  display: list-item;
  list-style-type: square;
}

.archiveUpcoming {
  font-family: 'Crimson Text', Sans-Serif;
  font-size: 2em;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 1%;
}

ol {
  padding-left: 25%;
  padding-right: 25%;
}

/* Social Media Icons */

.iconContainer {
	position: relative;
	height: 10%;
}

.iconAboutContainer {
  position: relative;
  height: 10%;
  padding-top: 16%;
  padding-bottom: 10%;
  overflow: hidden;
}

.iconSubContainer {
  display: block;
  margin: auto;
  padding-bottom: 7%;
}

.iconAboutSubContainer {
  display: block;
  margin: auto;
}

.vscocontainer {
	float: left;
	margin: 0px;
	width: 48%;
	padding-top: 2%;
}

.vscoAboutContainer {
	float: left;
	margin: 0px;
	width: 48%;
}

.vscoicon {
	text-align: right;
}

.igcontainer {
	float: right;
	width: 48%;
	margin: 0px;
	padding-top: 2%;
}

.igAboutContainer {
	float: right;
	width: 48%;
	margin: 0px;
}

.instagramicon {
	text-align: left;
}

.iconimages {
	width: 1em;
	height: 1em;
	margin: 0px;
}

.iconAboutImages {
	width: 1.35em;
	height: 1.35em;
	margin: 0px;
}

/* Non-Home CSS */

.outerColumn {
  width: 100%;
  height: 20%;
}

.innerColumn {
  width: 100%;
  height: 80%;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10%;
}

.igMainContainer {
  height: 100%;
}

/* Poems */
.igRow1 {
  height: 33%;
  text-align: center;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.instagramPhoto1, .instagramPhoto2, .instagramPhoto3 {
  display: inline-block;
  height: 100%;
  width: 31%;
  padding: 1%;
}

.igRow2 {
  height: 33%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.igRow3 {
  height: 33%;
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.contactContainer {
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5%
}

form {
  width: 100%;
}

.formItem1 {
  display: block;
  margin: 0;
}

.textField1 {
  border: 1px solid #000000;
  height: 40px;
  font-size: 1.1em;
  font-family: "Crimson Text", Serif;
  width: 100%;
  padding-left: 5px;
}

.formItem3 {
  display: block;
  margin: 0;
  padding-top: 2%;
}

.textField3 {
  margin: 0;
  width: 100%;
  height: 40px;
  font-size: 1.1em;
  font-family: "Crimson Text", Serif;
  border: 1px solid #000000;
  padding-left: 5px;
}

.formItem4 {
  display: block;
  margin: 0;
  padding-top: 2%;
  padding-left: 0;
}

.textField4 {
  margin: 0;
  width: 100%;
  height: 300px;
  font-size: 1.1em;
  font-family: "Crimson Text", Serif;
  border: 1px solid #000000;
  padding: 0;
  padding-left: 5px;
}

.formItem5 {
  margin: 0;
  padding-top: 8%;
}

.button {
  width: 205px;
  height: 45px;
  font-size: 1.1em;
  font-weight: normal;
  font-family: "Crimson Text", Serif;
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #000000;
}

/* Media Queries */
@media (min-width: 801px)
and (max-width: 1199px)
and (orientation: portrait) {

}

@media (min-width: 551px)
and (max-width: 800px)
and (orientation: portrait) {

  .col1, .col2 {
    float: none;
  }

  .col1 {
    width: 100%;
    height: 55%;
  }

  .col2 {
    width: 100%;
    height: 45%;
  }


  /* About Page */
  .pageTitle {
    padding-top: 50px;
    font-size: 2.5em;
  }

  .portrait {
    display: block;
    margin: auto;
    padding: 10%;
    width: 240px;
    height: 240px;
  }

  .aboutCopy {
    margin-left: 20%;
    margin-right: 20%;
    font-size: 1.25em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogCopy {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1em;
    line-height: 1.25;
    text-align: justify;
  }


  .blogTopDivider {
    margin: auto;
    padding-top: 2.5%;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid #d3d3d3;
  }

  .blogBottomDivider {
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 1%;
  }

  .blogSubHeading {
    font-size: 0.75em;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1%;
  }

  header {
    font-family: 'Droid Sans', Sans-Serif;
    font-size: 1.25em;
    font-weight: normal;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3%;
  }

  .blogDate {
    font-size: 1em;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .blogContainer {
    font-size: 0.75em;
  }

  /* Home Navigation */
  p {
    font-family: "Crimson Text", Sans-Serif;
    padding-left: 25px;
    padding-right: 25px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    font-family: "Droid Sans", Sans-Serif;
  }

  li {
    margin: 2.5%;
  }

  .divider {
    padding-top: 3.5%;
  }

  .navigationItem {
    display: block;
    padding-top: 25%;
    padding-bottom: 25%;
    font-size: 1.5em;
  }

  /* Logo */
  .homeLogo {
    width: 40px;
    height: 40px;
  }

  /* Social Media Icons */
  .iconimages {
    width: 0.75em;
    height: 0.75em;
    margin: 0px;
  }

  .iconAboutImages {
  	width: 1em;
  	height: 1em;
  	margin: 0px;
  }

  .mainLogoContainer {
    position: absolute;
    top: 6%;
    left: 8%;
    margin: 0px;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .hamburgler-icon-wrapper {
    position: absolute;
    top: 8.2%;
    right: 8%;
    height: 26px;
    width: 26px;
    cursor: pointer }

  .hamburgler-icon, .hamburgler-icon:before, .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease }

  /* Poems */
  .igRow1 {
    height: 33%;
    text-align: center;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .instagramPhoto1, .instagramPhoto2, .instagramPhoto3 {
    display: inline-block;
    height: 100%;
    width: 28%;
    padding: 1%;
  }

  .igRow2 {
    height: 33%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }

  .igRow3 {
    height: 33%;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }

  /* Contact */

  .contactContainer {
    margin-left: 25%;
    margin-right: 25%;
  }

  .formItem1 {
    display: block;
    margin: 0;
    padding-top: 5%;
  }

  .textField1 {
    border: 1px solid #000000;
    height: 40px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    width: 100%;
  }

  .formItem3 {
    display: block;
    margin: 0;
    padding-top: 3%;
  }

  .textField3 {
    margin: 0;
    border: 1px solid #000000;
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
  }

  .formItem4 {
    display: block;
    margin: 0;
    padding-top: 3%;
  }

  .textField4 {
    margin: 0;
    width: 100%;
    height: 300px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    border: 1px solid #000000;
  }

  .formItem5 {
    margin: 0;
    padding-top: 4%;
  }

  .button {
    width: 130px;
    height: 30px;
    font-size: 1em;
    font-weight: normal;
    font-family: "Crimson Text", Serif;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }

}

@media (max-width: 550px)
and (orientation: portrait){

  .col1, .col2 {
    float: none;
  }

  .col1 {
    width: 100%;
    height: 55%;
  }

  .col2 {
    width: 100%;
    height: 45%;
  }

  .portrait {
    display: block;
    margin: auto;
    padding: 10%;
    width: 180px;
    height: 180px;
  }

  /* Home Navigation */
  p {
    font-family: "Crimson Text", Sans-Serif;
    padding-left: 25px;
    padding-right: 25px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    font-family: "Droid Sans", Sans-Serif;
  }

  li {
    margin: 3%;
  }

  .navigationItem {
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 1em;
  }

  .homeNavItem {
    font-size: 1em;
  }

  .hamburgler-icon-wrapper {
    position: absolute;
    top: 8.50%;
    right: 8%;
    height: 26px;
    width: 26px;
    cursor: pointer }

  .hamburgler-icon, .hamburgler-icon:before, .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease }

  /* About Page */

  .pageTitle {
    padding-top: 75px;
    font-size: 2em;
  }

  .portrait {
    display: block;
    margin: auto;
    padding: 10%;
  }

  .aboutCopy {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogCopy {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 0.75em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogTopDivider {
    margin: auto;
    padding-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #d3d3d3;
  }

  .blogBottomDivider {
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 1%;
  }

  .blogSubHeading {
    font-size: 0.65em;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1%;
  }

  header {
    font-family: 'Droid Sans', Sans-Serif;
    font-size: 0.9em;
    font-weight: normal;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3%;
  }

  .blogDate {
    font-size: 0.75em;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .blogContainer {
    font-size: 0.65em;
  }

  /* Archive */

  ol {
    padding-left: 18%;
    padding-right: 18%;
  }

  .archiveList {
  font-size: 1em;
  }

  .archiveUpcoming {
    font-size: 1.5em;
  }

  /* Logo */
  .homeLogo {
    width: 40px;
    height: 40px;
  }

  .mainLogoContainer {
    position: absolute;
    top: 7%;
    left: 8%;
    margin: 0px;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  /* Social Media Icons */
  .iconimages {
    width: 0.75em;
    height: 0.75em;
    margin: 0px;
  }

  .iconAboutImages {
    width: 1em;
    height: 1em;
    margin: 0px;
  }

  /* Poems */
  .igRow1 {
    height: 33%;
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .instagramPhoto1, .instagramPhoto2, .instagramPhoto3 {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1%;
  }

  .igRow2 {
    height: 33%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .igRow3 {
    height: 33%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }


  /* Contact */

  .contactContainer {
    margin-left: 20%;
    margin-right: 20%;
  }

  .formItem1 {
    display: block;
    margin: 0;
    padding-top: 10%;
  }

  .textField1 {
    border: 1px solid #000000;
    height: 30px;
    font-size: 0.9em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    width: 100%;
  }

  .formItem3 {
    display: block;
    margin: 0;
    padding-top: 3%;
  }

  .textField3 {
    margin: 0;
    width: 100%;
    height: 30px;
    font-size: 0.9em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    border: 1px solid #000000;
  }

  .formItem4 {
    display: block;
    margin: 0;
    padding-top: 3%;
  }

  .textField4 {
    width: 100%;
    height: 200px;
    font-size: 0.9em;
    font-family: "Crimson Text", Serif;
    padding: 0;
    padding-left: 5px;
    border: 1px solid #000000;
  }

  .formItem5 {
    display: block;
    margin: 0;
    padding-top: 4%;
  }

  .button {
    width: 100px;
    height: 30px;
    font-size: 0.9em;
    font-weight: normal;
    font-family: "Crimson Text", Serif;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }

}

@media (min-width: 769px)
and (max-width: 1024px)
and (orientation: landscape) {

  h1 {
    font-family: "Playfair Display", Serif;
    font-size: 1.15em;
    text-align: center;
    font-weight: 400;
  }

  .homePageTitle {
    padding-top: 5%;
  }

  h2 {
    font-family: "Crimson Text", Serif;
    font-size: .75em;
    text-align: center;
    font-weight: normal;
  }

  /* About Page */

  .pageTitle {
    padding-top: 50px;
    font-size: 3em;
  }

  .portrait {
    display: block;
    margin: auto;
    padding: 10%;
    width: 240px;
    height: 240px;
  }

  .aboutCopy {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.75em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogDate {
    font-size: 1.5em;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .blogCopy {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.5em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogTopDivider {
    margin: auto;
    padding-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #d3d3d3;
  }

  .blogBottomDivider {
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 1%;
  }

  .blogSubHeading {
    font-size: 1.25em;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1%;
  }

  header {
    font-family: 'Droid Sans', Sans-Serif;
    font-size: 1.75em;
    font-weight: normal;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3%;
  }

  .blogContainer {
    font-size: 1.25em;
  }

  /* Home Navigation */
  p {
    font-family: "Crimson Text", Sans-Serif;
    padding-left: 25px;
    padding-right: 25px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    font-family: "Droid Sans", Sans-Serif;
  }

  li {
    margin: 7%;
    font-size: .90em;
  }

  .navigationItem {
    display: block;
    padding-top: 25%;
    padding-bottom: 25%;
    font-size: 1.5em;
  }

  .hamburgler-icon-wrapper {
    position: absolute;
    top: 9.25%;
    right: 8%;
    height: 26px;
    width: 26px;
    cursor: pointer }

  .hamburgler-icon, .hamburgler-icon:before, .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease }

  /* Logo */
  .homeLogo {
    width: 33px;
    height: 33px;
  }

  .mainLogoContainer {
    position: absolute;
    top: 6%;
    left: 8%;
    margin: 0px;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  /* Social Media Icons */
  .iconimages {
    width: 0.75em;
    height: 0.75em;
    margin: 0px;
  }

  .iconAboutImages {
    width: 1em;
    height: 1em;
    margin: 0px;
  }
  /* Poems */
  .igRow1 {
    height: 33%;
    text-align: center;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .instagramPhoto1, .instagramPhoto2, .instagramPhoto3 {
    display: inline-block;
    height: 100%;
    width: 27%;
    padding: 1%;
  }

  .igRow2 {
    height: 33%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .igRow3 {
    height: 33%;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  /* Contact */
  .contactContainer {
    margin-left: 25%;
    margin-right: 25%;
  }

  .textField1 {
    border: 1px solid #000000;
    height: 40px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    width: 100%;
  }

  .formItem3 {
    display: block;
    margin: 0;
    padding-top: 3%;
  }

  .textField3 {
    margin: 0;
    border: 1px solid #000000;
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
  }

  .formItem4 {
    display: block;
    margin: 0;
    padding-top: 3%;
  }

  .textField4 {
    margin: 0;
    width: 100%;
    height: 300px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    border: 1px solid #000000;
  }

  .formItem5 {
    margin: 0;
    padding-top: 4%;
  }

  .button {
    width: 130px;
    height: 30px;
    font-size: 1em;
    font-weight: normal;
    font-family: "Crimson Text", Serif;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }

}

@media (min-width: 320px)
and (max-width: 768px)
and (orientation: landscape) {

  h1 {
    font-family: "Playfair Display", Serif;
    font-size: 1.15em;
    text-align: center;
    font-weight: 400;
  }

  .homePageTitle {
    padding-top: 5%;
  }

  h2 {
    font-family: "Crimson Text", Serif;
    font-size: .75em;
    text-align: center;
    font-weight: normal;
  }

  /* About Page */

  .pageTitle {
    padding-top: 50px;
    font-size: 2.8em;
  }

  .portrait {
    display: block;
    margin: auto;
    padding: 10%;
    width: 240px;
    height: 240px;
  }

  .aboutCopy {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.25em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogCopy {
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.2em;
    line-height: 1.25;
    text-align: justify;
  }

  .blogDate {
    font-size: 1.2em;
    padding-top: 1%;
    padding-bottom: 2%;
  }

  .blogTopDivider {
    margin: auto;
    padding-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #d3d3d3;
  }

  .blogBottomDivider {
    margin: auto;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 1%;
  }

  .blogSubHeading {
    font-size: 1em;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 1%;
  }

  header {
    font-family: 'Droid Sans', Sans-Serif;
    font-size: 1.35em;
    font-weight: normal;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3%;
  }

  .blogContainer {
    font-size: 1em;
  }

  /* Archive */
  .archiveList {
  font-size: 1em;
  }

  .archiveUpcoming {
    font-size: 1.5em;
  }


  /* Home Navigation */
  p {
    font-family: "Crimson Text", Sans-Serif;
    padding-left: 25px;
    padding-right: 25px;
  }

  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-align: center;
    font-family: "Droid Sans", Sans-Serif;
  }

  li {
    margin: 7%;
    font-size: .90em;
  }

  .navigationItem {
    display: block;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 1.5em;
  }


  .hamburgler-icon-wrapper {
    position: absolute;
    top: 9.25%;
    right: 8%;
    height: 26px;
    width: 26px;
    cursor: pointer }

  .hamburgler-icon, .hamburgler-icon:before, .hamburgler-icon:after {
    content: '';
    position: absolute;
    border-radius: 1em;
    height: 2px;
    width: 26px;
    background: black;
    transition: all 0.2s ease }

  /* Logo */
  .homeLogo {
    width: 33px;
    height: 33px;
  }

  .mainLogoContainer {
    position: absolute;
    top: 6%;
    left: 8%;
    margin: 0px;
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  /* Social Media Icons */
  .iconimages {
    width: 0.75em;
    height: 0.75em;
    margin: 0px;
  }

  .iconAboutImages {
    width: 1em;
    height: 1em;
    margin: 0px;
  }

  /* Poems */
  .igRow1 {
    height: 33%;
    text-align: center;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .instagramPhoto1, .instagramPhoto2, .instagramPhoto3 {
    display: block;
    height: 100%;
    width: 100%;
    padding: 1%;
  }

  .igRow2 {
    height: 33%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  .igRow3 {
    height: 33%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }

  /* Contact */
  .contactContainer {
    margin-left: 20%;
    margin-right: 20%;
  }

  .formItem1 {
    display: block;
    margin: 0;
    padding-top: 5%;
  }

  .textField1 {
    border: 1px solid #000000;
    height: 40px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    width: 100%;
  }

  .formItem3 {
    margin: 0;
    padding-top: 2%;
  }

  .textField3 {
    margin: 0;
    width: 100%;
    height: 40px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding-left: 5px;
    border: 1px solid #000000;
  }

  .formItem4 {
    margin: 0;
    padding-top: 2%;
  }

  .textField4 {
    width: 100%;
    height: 200px;
    font-size: 1.1em;
    font-family: "Crimson Text", Serif;
    padding: 0;
    padding-left: 5px;
    border: 1px solid #000000;
  }

  .formItem5 {
    margin: 0;
    padding-top: 4%;
  }

  .button {
    width: 175px;
    height: 40px;
    font-size: 1em;
    font-weight: normal;
    font-family: "Crimson Text", Serif;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
  }
}
