html, body {
	overflow-x: hidden;
}

body {
	color: #000000;
}

h1 {
	font-family: "Crimson", Serif;
	font-size: 36px;
}

p {
	font-family: "Crimson", Serif;
	font-size: 20px;
}

/* Grid for CSS */
.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
	position:relative;
}

container
.:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.mobilenav-item {
	font-family: "Droids Sans", Sans-Serif;
	font-size: 28px;
}


.heroimage {
	float: right;
}
