html, body {
	overflow-x: hidden;
	height: 100%;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	color: #000000;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
}

img {
	display: block;
	margin-left: auto;
	max-width: 100%;
	margin-right: auto;
}

/* Header */
.container {
	margin: auto;
	position: relative;
}

header {
	margin: auto;
	height: 100%;
}

.mainlogo {
	display: block;
	margin-left: auto;
	height: 32px;
	width: 32px;
}

.logocontainer {
	margin: auto;
	height: 32px;
	width: 32px;
	padding-top: 15px;
	padding-bottom: 10px;
}

h1 {
	font-family: "Playfair Display", Serif;
	font-weight: normal;
	font-size: 20px;
	margin: auto;
	text-align: center;
}

p {
	font-family: "Crimson Text", Serif;
	font-size: 12px;
	margin: auto;
	text-align: center;
}


/* Navigation */
.navigation {
	display: table;
	margin: auto;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
	font-family: "Droid Sans", Sans-Serif;
}

li {
	margin: 15px;
}

.navigationdivider {
	margin-bottom: 25px;
}

.divider {
	color: #f2f2f2;
}

.navigationitem {
	text-decoration: none;
	color: #000000;
}

/* Social Media Icons */

.socialmediaicons {
	display: block;
	margin: auto;
	padding-top: 3%;
	overflow: hidden;
}

.vscocontainer {
	float: left;
	margin: 0px;
	width: 48%;
	padding-top: 5px;
}

.vscoicon {
	text-align: right;
}

.igcontainer {
	float: right;
	width: 48%;
	margin: 0px;
	padding-top: 5px;
}

.instagramicon {
	text-align: left;
}

.iconimages {
	width: 12px;
	height: 12px;
	margin: 0px;
}

/* Hero Image */
.heroimage {
	display: block;
	margin: auto;
	padding-top: 15px;
}


/* Media Queries */
/* Media Query: Desktop, ~1024px */
@media (min-width: 1000px) and (max-width: 2000px) {
	html, body {
		overflow-x: hidden;
	}

	body {
		overflow-y: hidden;
	}

	/* Menu (header) */
	.container {
		height: 100%;
		width: 20%;
		float: left;
	}

	.logocontainer {
		padding-top: 25px;
		padding-bottom: 10px;
		height: 40px;
		width: 40px;
		margin: auto;
	}

	.mainlogo {
		display: block;
		margin-left: auto;
		height: 40px;
		width: 40px;

	}

	h1 {
		font-size: 20px;
		margin: auto;
		text-align: center;
	}

	p {
		font-size: 12px;
		margin: auto;
		text-align: center;
	}

	/* Navigation */
	.navigation {
		text-align: center;
		display: table;
		margin: auto;
	}

	ul {
		font-family: "Droid Sans", Sans-Serif;
		margin: auto;
		list-style-type: none;
	}

	li {
		margin: 20px;
	}

	/* Social Media */
	.socialmediaicons {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding-top: 80%;
		overflow: hidden;
	}

	.igcontainer {
		float: right;
		width: 46%;
		margin: 0px;
		padding-top: 5px;
	}


	.vscocontainer {
		float: left;
		width: 46%;
		margin: 0px;
		padding-top: 5px;
	}

	.iconimages {
		width: 16px;
		height: 16px;
		margin: 0px;
	}

	/* Hero Image */
	.heroimage {
		padding: 0px;
		margin-left: 20%;
	}
